*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    box-sizing: border-box;
}

.header{
    background: var(--terciary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 2rem;
}

.header h1{
    font-size: 5rem;
    color: var(--ultra-color);
    font-weight: bold;
}

.navigator-header{
    width: 50%;
    justify-content: space-evenly;
}

a{
    color: var(--primary-link-color);
    text-decoration: none;
}

a:hover{
    color: var(--secondary-link-color);
}

.header ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main{
    background: var(--primary-color);
    color: var(--white-color);
}

.banner{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;

}

.footer{
    background: var(--terciary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 83px;
    color: var(--white-color);
    flex-wrap: wrap;
}

.footer ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.footer a {
    background: var(--terciary-color);
}
.socials li{
    display: flex;
    align-items: center;
    list-style: none;
}
.index-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main h2{
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigator-ul li{
    list-style: none;
    font-weight: bold;
}
.main h3{
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 780px){
    .banner{height:100%;
    width: 100%;
    }

}
@media (max-width: 780px){
    .banner{height:100%;
    width: 100%;
    }
}

/* VARIABLES */

:root{
    --primary-color: #2E2E2E;
    --secondary-color: #2F3699;
    --terciary-color: #57001B;
    --primary-link-color: #FFD700;
    --secondary-link-color: #00AAAA ;
    --ultra-color: #FF0000;
    --white-color: #D9D9D9;
}